<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pdf Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width ="150" align="left" valign="top" bgcolor="#ffe77b" style="background-color:#fff;">
              <img height="100" width="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgQ_m4DUpDZtd5CnGPtFUpGMXXEoPWNSVnAA&usqp=CAU" alt="">
            </td>
            <td align="left" bgcolor="#ffe77b" style="background-color: #fff;">
              <h2 style="font-weight: 900;color: brown;">Etax Express</h2>
              <p>227 Cobblestone Road, 30000 Bedrock, Cobblestone County <br/> 
                http://dinostore.bed | hello@dinostore.bed +555 7 789-1234</p>
            </td>
        </tr>
    </table> 
    <h4 style="font-size: 30px;font-weight: 600; color: #000000; margin-top: 18px; margin-bottom: 18px;">{{data.invoice_num}}</h4> 
    <table width="95%" border="0" cellspacing="0" cellpadding="0">
      <tr>
          <td width="10%" align="left" valign="top" bgcolor="#ffe77b" style="background-color:#fff; font-weight: 500;">
            Invoice To : {{data.name}}
          </td>
      </tr>
      <tr>
        <td  style="background-color:#fff; font-weight: 500;">
          {{data.address}}
        </td>
      </tr>
      <tr>
        <td style="background-color:#fff; font-weight: 500;">
          {{data.district}} {{data.sub_district}}
        </td>
      </tr>
      <tr>
        <td style="background-color:#fff; font-weight: 500;">
          {{data.province}} {{data.postal_code}}
        </td>
      </tr>
      <!-- <tr>
        <td width="30%" align="left" valign="top" bgcolor="#ffe77b" style="background-color:#fff;">
          <p>Social Media Manager</p>
          <p>Bolen Tex .Inc</p>
        </td>
        <td width="70%" align="left" bgcolor="#ffe77b" style="background-color: #fff;">             
        </td>
      </tr> -->
    </table>  
      <table width="95%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="30%" align="left" valign="top" bgcolor="#ffe77b" style="background-color:#fff; font-weight: 500;">
            <p>{{data.email}}</p>
          </td>
          <td width="40%" align="left" bgcolor="#ffe77b" style="background-color: #fff;">             
          </td>
          <td width="30%" align="right" bgcolor="#ffe77b" style="background-color: #fff;">
            <h4 style="font-size: 23 px; font-weight: 700;color: #000000;">Date: {{data.date}}</h4>
            <h4 style="font-size: 23 px; font-weight: 700;color: #000000; margin-bottom: 30px;">INVOICE NO: {{data.invoice_num}}</h4>           
          </td>
        </tr>
      </table>   
      <table class="table" width="95%">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">สินค้า</th>
              <th scope="col">หน่วย</th>
              <th scope="col">จำนวน</th>
              <th scope="col">ราคา</th>
              <th scope="col">ราคารวม</th>
            </tr>
          </thead>
          <!-- <tbody>
            {{#each products.prodlist}}
            <tr>
              <td width="10%">
                <img height="70" width="70" src="{{this.imgurl}}" alt="">
              </td>
              <th scope="row" width="50%">
                <h5 style="font-weight: 700;color:chocolate">{{this.name}}</h5>
                <p>{{this.description}}</p>
              </th>
              <td width="10%">{{this.unit}}</td>
              <td width="10%">{{this.quantity}}</td>
              <td width="10%">${{this.price}}</td>
              <td width="10%">${{this.total}}</td>
            </tr>
            {{/each}}
          </tbody> -->
          <tbody>
            <tr>
              <td width="10%">
                <img src="http://localhost:8888/docs/imageProduct/Trezor T.jpg" height="70" width="70" src="{{this.imgurl}}" alt="">
              </td>
              <th scope="row" width="50%">
                <h5 style="font-weight: 700;color:chocolate">{{data.product_name}}</h5>
                <p>Hardware Wallet</p>
              </th>
              <td width="10%">ชิ้น</td>
              <td width="10%">1</td>
              <td width="10%">฿{{data.total}}</td>
              <td width="10%">฿{{data.subtotal}}</td>
            </tr>
            <tr>
              <td width="10%">
              </td>
              <th scope="row" width="50%">
              </th>
              <td width="10%"></td>
              <td width="10%"></td>
              <td width="10%"></td>
              <td width="10%"></td>
            </tr>
          </tbody>
        </table>
        <table width="95%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <!-- <td width="90%"  align="right" style="font-size: 25px;font-weight: 700;color:#000000; ">Sub Total </td> -->
            <td width="10%" align="right" ><h2 style=" font-size: 25px;font-weight: 700;color:#000000;">Sub Total: ฿{{data.total}}</h2></td>
          </tr>
          <tr>
            <!-- <td width="90%"  align="right" style="font-size: 25px;font-weight: 700;color:#000000;">Tax </td> -->
            <td width="10%" align="right"><h2 style="font-size: 25px;font-weight: 700;color:#000000;">Tax: ฿{{data.taxrate}}</h2></td>
          </tr>
          <tr>
            <!-- <td width="90%"  align="right" style="font-size: 25px;font-weight: 700;color:#000000;">Grand Total </td> -->
            <td width="10%" align="right"><h2 style="font-size: 25px;font-weight: 700;color:#000000;">Grand Total: ฿{{data.subtotal}}</h2></td>
          </tr>
        </table>
        <!-- <table width="95%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100%"  align="left" style="font-size: 25px;font-weight: 700;color:red; background-color: #f6f6f6;">Notice:</td>
          </tr>
          <tr>
            <td width="100%"  align="left" style="font-size: 25px;font-weight: 700;color:#000; background-color: #f6f6f6;">A finance charge of 1.5% will be made on unpaid balances after 30 days.</td>
          </tr>
        </table> -->
</body>
</html>